body {
    width: 700px;
    height: 321px;
    margin: 0;
    padding: 32px;
    padding-top: 0;
}
form{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 25px;
}
label{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px;
    color: white;
    text-shadow: 2px 2px 2px blue;
}
.submit{
    box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
    background-color:#79bbff;
    border-radius:6px;
    border:1px solid #84bbf3;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Times New Roman;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #528ecc;
    box-shadow: 2px 2px 2px black;
    margin:10px;
}
.submit:hover {
    background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
    background-color:#378de5;
}
.submit:active {
    position:relative;
    top:1px;
}
input{
    box-shadow: 2px 2px 2px blue;
}

.top{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    width: 700px;
    height: 197px;
    background-color: #74BCEE;
}

.top a{
    width: 100%;
}

.bottom{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    width: 650px;
    padding: 25px;
    background-color: #C1C5FF;
}
.bottom a{
    margin: 10px;
}